*{
	box-sizing: border-box;
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

nav{
	float: left;
	top: 0;
	width: auto;
	height: auto;
	background-color: #BBFFFF;
	margin: 0 auto;
	position: fixed;
}

nav a, nav h3{
	float:left;
	line-height: 55px;
	margin: 0 auto;
	margin-left: 1em;
	margin-right: 1em;
	text-decoration: none;
}

nav a:hover{
	text-decoration: underline; /* Hover styles to let people know they can click it */
}
li{
	float:left;
	margin: 0;
	padding: 0;
	display:block
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: sans-serif;
	background-color: #FFDEAD;
	}

	section{
		max-width: 770px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 20px;

	}

section p, section h1{
max-width: 60%;
margin-left: 40px;
}





.sidenav a:hover{
	color: linen;
	background-color: orange;
}

.topHeader {
    background-color:  	#9AC0CD;
	color: white; /* more readable on an orange background */
  	padding-top: 50px;
	padding-bottom: 50px;


}

.topHeader p, .topHeader h1{
	max-width: 1000px;
	margin-left: 180px;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;


}

.categoryHeader{
 	background-color: teal;
	color: linen; /* more readable on an orange background */
 	padding-top: 10px;
	padding-bottom: auto;
	border-radius: 0px 0px 50px 0px;
		margin-left: 2120px;
	position: fixed;

}

/* Simple grid */
.g-row{
	width: 100%;
	float: left;
	margin: 0 auto;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
	border-radius: 10px;
}

.g-30{
	margin:60px;
	width: 38%;
	float: left;


}


.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}
