*{
	box-sizing: border-box;
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

nav{
	float: left;
		margin: 0 auto;
	top: 0;
	width: auto;
	height: auto;
	background-color:  	#008B8B;
	position: fixed;
}

nav a, nav h3{
	float:left;
	line-height: 55px;
	margin: 0 auto;
	margin-left: 1em;
	margin-right: 1em;
	text-decoration: none;
}

nav a:hover{
	text-decoration: underline; /* Hover styles to let people know they can click it */
}
li{
	float:left;
	margin: 0;
	padding: 0;
	display:block
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: sans-serif;
	background-color:#B0E0E6;
	}

	section{
				margin: 0 auto;
		max-width: 770px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 20px;

	}

section p, section h1{
max-width: 100%;
margin-left: 10px;
}











.categoryHeader{
 	background-color:  	#00BFFF;
	color: linen; /* more readable on an orange background */
	top:80px;
 	padding-top: 10px;
	padding-right: auto;
	padding-bottom: auto;
	border-radius: 0px 0px 50px 0px;
	position: fixed;
	max-width: 420px

}

/* Simple grid */
.g-row{
	width: 100%;
	float: right;
	margin: 0 auto;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
	border-radius: 10px;
}

.g-30{
	margin:60px;
	width: 38%;
	float: right;


}
