*{
	box-sizing: border-box;
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}
.txt{
		width: 33%;
}
.tttt img{
	width: 50%;
		float: center;
}
body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: sans-serif;
	background-color: #FFDEAD;
	}

	section{
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 20px;

	}

section p, section h1{
max-width: 60%;
margin-left: 40px;
}



.sidenav a {
	padding: 15px;
	text-decoration: none;
	color: coral;

	font-size: 20px;
	display: : block;
	/*line-height: 200%;*/

}

.sidenav a:hover{
	color: linen;
	background-color: orange;
}

.topHeader {
    background-color:  	#9AC0CD;
	color: white; /* more readable on an orange background */
  	padding-top: 50px;
	padding-bottom: 50px;


}

.topHeader p, .topHeader h1{
	max-width: 1000px;
	margin-left: 180px;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;


}

.categoryHeader{
 	background-color: teal;
	color: linen; /* more readable on an orange background */
 	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px 0px 50px 0px

}

/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
	border-radius: 10px;
}

.g-30{
	width: 30%;
	float: left;
	margin: 20px;

}


.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}
